<%= render "layouts/usernavbar" %>
<header id="settings">
<div class="ui text container">
  <div class="title">
  <h1 class="header">Edit School Details</h1>
</div>
  <div class="ui divider"></div>
<form class="ui form">
    <div class="field">
    <label>School Name</label>
    <input type="text" name="last-name" placeholder="">
  </div>
  <div class="field">
    <label>Email</label>
    <input type="text" name="last-name" placeholder="">
  </div>
    <div class="field">
    <label>Address</label>
    <input type="text" name="last-name" placeholder="">
  </div>
  <div class="field">
    <label>Contact Number</label>
    <input type="text" name="first-name" placeholder="">
  </div>
  <button class="ui button green" type="submit">Save</button>
</form>
</div>
</div>