<!--My Applications (User)-->
<%= render "layouts/adminnavbar" %>
<header id="profile">
<div class="ui grid container">
    <div class="sixteen wide column">

    <h1 class="text">Applicants</h1>
    <div class="ui divider"></div>
      <table class="ui celled table">
      <thead>
        <tr>
          <th>Applicant Name</th>
          <th>Course</th>
          <th>Current Status</th>
          <th>Option</th>
        </tr>
      </thead>
      <tbody>
        <tr>
         <td>First Name Last Name</td>
         <td>Web Development I</td>
         <td class="negative"><i class="remove circle icon"></i>Rejected</td>
         <td><button class="ui small green button" name="edit-btn">Edit Status</button> <button   class="ui small red button">Delete</button></td>
        </tr>
        <tr>
          <td>First Name Last Name2</td>
          <td>Web Development II</td>
          <td class="positive"><i class="check circle icon"></i>Accepted</td>
          <td><button class="ui small green button" name="edit-btn">Edit Status</button> <button class="ui small red button">Delete</button></td>
        </tr>
        <tr>
          <td>First Name Last Name3</td>
          <td>Web Development III</td>
          <td class="warning"><i class="attention icon"></i>Pending</td>
          <td><button class="ui small green button" name="edit-btn">Edit Status</button> <button class="ui small red button">Delete</button></td>
        </tr>
      </tbody>
      </table>
    </div>
</div>



<div class="ui tiny modal">
  <i class="close icon"></i>
  <div class="header">
    Edit Status
  </div>
 <div class="content">
    <form class="ui form">
        <div class="field">
          <label>Status</label>
          <select class="ui search dropdown">
            <option value="">Select Status</option>
            <option value="1">Accepted</option>
            <option value="2">Rejected</option>
          </select>
        </div>
    </form>
  </div>
  <div class="actions">
    <div class="ui positive button">
      Save
    </div>
    <div class="ui red button">
     Cancel
    </div>
  </div>
</div>
<script>
   $('#new-app').click(function(){
      $('.small.modal')
      .modal('show'); 
        $('select.dropdown')
  .dropdown()
;
   });
  $('button[name=edit-btn]').click(function(){
      $('.tiny.modal')
      .modal('show'); 
        $('select.dropdown')
  .dropdown()
;
   });

</script>
