<%= render "layouts/usernavbar" %>
<header id="home">
<div class="ui text container">
  <div class="title">
  <h1 class="header">Welcome to OTapp!</h1>
</div>
<br>
<div class="ui form">
  <div class="field">
    <div class="ui icon input">
    <input class="prompt" type="text" placeholder="Search for school or course...">
    <i class="search icon"></i>
  </div>
  <div class="inline fields">
      <div class="inline fields">
    <label for="fruit">Select one:</label>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="search" checked="" tabindex="0" class="hidden">
        <label>School</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="search" tabindex="0" class="hidden">
        <label>Course</label>
      </div>
    </div>
  </div>
</div>
  <div class"ui segments">
    <div class="ui segment">
      <h3> Marikina Science High School </h3>
      <p>Chanyungco St., Sta. Elena, Marikina City</p>
    </div>
    <div class="ui segment">
      <h3> Marikina Polytechnic School</h3>
      <p>Chanyungco St., Sta. Elena, Marikina City</p>
    </div>
    <div class="ui segment">
      <h3> UP Diliman</h3>
      <p> Diliman, Quezon City</p>
    </div>
  </div>

</div>
</header>
