<%= render "layouts/usernavbar" %>
<header id="home">
<div class="ui text container">
  <div class="title">
  <h1 class="header">Welcome to Online TESDA Application!</h1>
</div>
<br>
<div class="ui form">
  <div class="field">
    <div class="ui icon input">
    <input class="prompt" type="text" placeholder="Search for schools...">
    <i class="search icon"></i>
  </div>
  <div class="inline fields">
      <div class="inline fields">
    <label for="fruit">Search by:</label>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="search" checked="" tabindex="0" class="hidden">
        <label>School</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="search" tabindex="0" class="hidden">
        <label>Course</label>
      </div>
    </div>
  </div>
</div>

  <div class="ui raised segments">
    <div class="ui padded segment">
      <div class="ui header"> <a href="#">Marikina Science High School</a></div>
      <p>Chanyungco St., Sta. Elena, Marikina City</p>
    </div>
    <div class="ui padded segment" href="">
      <div class="ui header"><a href="#">Marikina Polytechnic School</a></div>
      <p>Chanyungco St., Sta. Elena, Marikina City</p>
    </div>
    <div class="ui padded segment">
      <div class="ui header"><a href="#">UP Diliman</a></div>
      <p> Diliman, Quezon City</p>
    </div>
  </div>

</div>
</header>
