<!--School Profile(User)-->
<%= render "layouts/usernavbar" %>
<header id="profile">
<div class="ui grid container">
    <div class="four wide column">
      <div class="ui card">
      <div class="image">
        <img src="/assets/school.jpg">
      </div>
      <div class="content">
        <a class="header">Marikina Science High School</a>
        <div class="description">
          mshs@gmail.com<br>
          Chanyungco St., Sta.Elena, Marikina City
          <br>
          997-7852
        </div>
      </div>
    </div>
</div>
    <div class="twelve wide column">
    <h1 class="text">Courses Offered</h1>
    <div class="ui divider"></div>
    <table class="ui celled table">
  <thead>
    <tr>
      <th>Course</th>
      <th>Sector</th>
      <th>Tuition Fee (Php)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Web Development I</td>
      <td>ICT</td>
      <td>5000</td>
    </tr>
    <tr>
      <td>Culinary Arts II</td>
      <td>Tourism</td>
      <td>200</td>
    </tr>
     <tr>
      <td>Basic Mechanics</td>
      <td>Metals and Engineering</td>
      <td>300</td>
    </tr>
  </tbody>
</table>
  </div>
</div>

</header>
