// Place all the styles related to the partials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#profile{
	padding-top: 40px;
 	padding-bottom: 40px;
}
#profile .text{
	padding-top: 10px;
	padding-bottom: 20px;
}
h1,h2,h3 {
	line-height: 3px !important;
}