// Place all the styles related to the partials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #d80202;
}

.landing-page {
  padding-top: 12%;
  padding-left: 12%;
  padding-right: 5%;
  /*margin-left: 50px;*/
}

.relative-position {
  position: relative;
}

.paragraph {
  color: black;
  padding-top: 5%;
  font-size: 20px;
  text-align:justify;
}

 #landing{
 	padding-top: 80px;
 	padding-bottom: 40px;
 }
