<header id="header">
  <link rel="shortcut icon" src="/assets/logo_Dbq_icon.ico"/>
  <div class="ui banner container">
    
      <img src=<%=asset_path"otapp_logo.png"%> alt="" style="max-height:70px;">
    
  </div>
  <div class="nav">
    <div class="ui container">
      <div class="left-nav">
                <a href=<%=admin_home_path"" %> class="item">
          <i class="home icon"></i>
          Home
        </a>
      </div>
      <div class="right-nav">
        <div class="field">
        <a href=<%=admin_courses_path"" %> class="item">
          <i class="file text outline icon"></i>
          Courses
        </a>
        <a href=<%=admin_settings_path"" %> class="item">
          <i class="settings icon"></i>
          Settings
        </a>
        <a href="/contact" class="item">
          <i class="sign out icon"></i>
          Logout
        </a>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="header-placeholder"></div>
