<header id="header">
  <div class="ui banner container">
      <img src="/assets/otapp_logo.png" alt="" style="max-height:70px;">
  </div>
  <div class="nav">
    <div class="ui container">
      <div class="left-nav">
                <a href="/" class="item">
          <i class="home icon"></i>
          Home
        </a>
      </div>
      <div class="right-nav">
        <div class="field">
        <a href="/about" class="item">
          <i class="file text outline icon"></i>
          My Applications
        </a>
        <a href="/about" class="item">
          <i class="settings icon"></i>
          Settings
        </a>
        <a href="/contact" class="item">
          <i class="sign out icon"></i>
          Logout
        </a>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="header-placeholder"></div>
