<header id="header">
  <div class="ui banner container">
    <a href="/">
      <img src="https://img00.deviantart.net/8ef2/i/2012/325/e/c/8_bit_sprites__nyan_cat_by_toshirofrog-d4hzdrp.png" alt="">
    </a>
  </div>
  <div class="nav">
    <div class="ui container">
      <div class="right-nav">
        <a href="/" class="item">
          <i class="home icon"></i>
          Home
        </a>
        <a href="/about" class="item">
          <i class="settings icon"></i>
          Settings
        </a>
        <a href="/contact" class="item">
          <i class="sign out icon"></i>
          Logout
        </a>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="header-placeholder"></div>
